
<nav class="navbar">
   
    <h1 class="headig ml-0" style="text-align:left; color:white;"> <i class="bi bi-person"></i>Contacts App</h1>
   
    <ul>
        <li><a routerLink="contactgroups">Contactgroups</a></li>
        <li><a routerLink="contacts"><i class="bi bi-person-lines-fill"></i>Contacts</a></li>
        <li ><a routerLink="/list/Family">Family </a></li>
        <li ><a routerLink="/list/Friends">Friends</a></li>
        <li ><a routerLink="/list/Work">Work</a></li>     
    </ul>
  </nav> 

